<div class="content">
  <p id="notice"><%= notice %></p>

  <h1>Initiatives</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @initiatives.each do |initiative| %>
        <tr>
          <td><%= initiative.title %></td>
          <td><%= initiative.description %></td>
          <td><%= initiative.link %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
