<%= provide :title, t('.title') %>

<div class="content">
  <h1><%= t('.title') %></h1>

  <% @initiatives.each do |initiative| %>
    <article class='initiative'>
      <h2><%= initiative.title %></h2>
      <p><%= simple_format initiative.description %></p>
    </article>
  <% end %>
</div>
