[data-controller=pages][data-action=home] {
  @mixin big-h2 {
    h2 {
      font-weight: bold;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }

  @mixin big-h3 {
    h3 {
      font-weight: bold;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }

  main {
    padding: 0;
  }

  section {
    padding: $xxl-space $med-space $med-space;
    text-align: left;
  }

  header {
    position: fixed;
    top: 0;
    transition: all 0.6s ease;
    z-index: 2;

    &.transparent {
      a {
        color: $grey;
      }

      .featured {
        color: $background-color;
      }
    }

    &.sticky {
      background-color: $background-color;
      font-size: 80%;
    }
  }

  @each $flash-type, $flash-color in $flashes {
    .flash-#{$flash-type} {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      margin: 0 auto;
      width: 95%;
    }
  }

  .headers {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: $med-space;
    text-align: left;

    @include above($small-screen) {
      padding: $xl-space;
    }
  }

  .empty {
    flex: 2;
  }

  #mtlnewtech {
    @include flex-column-then-row;

    background-image: image-url('homepage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 100vh;
    text-align: center;

    h1 {
      color: $background-color;
      font-size: $large-font-size;
      font-weight: bold;
      letter-spacing: 2px;

      @include above($small-screen) {
        font-size: $xl-font-size;
      }
    }

    h2 {
      font-size: $normal-font-size;

      @include above($small-screen) {
        font-size: $large-font-size;
      }
    }
  }

  #events {
    @include squairy-light-background;
    @include big-h2;

    @include above($small-screen) {
      @include flex-column-center;

      h2 {
        font-size: $xl-font-size;
      }
    }
  }

  #what_we_do {
    @include big-h2;
  }

  #sign_up {
    @include flex-column-then-row;

    background-color: $secondary-color;
    color: $background-color;
    padding: $xxl-space $large-space $xl-space $large-space;
    position: relative;
    z-index: 1;

    input[type='submit'] {
      @include button($color: $darker-background);
      width: auto;
    }

    input[type="email"] {
      background: transparent;
      border-bottom: 2px solid $background-color;
      color: $background-color;
      padding: $little-space;
      width: 100%;
    }

    ::-webkit-input-placeholder {
      color: $background-color;
      opacity: 1;
    }

    ::-moz-placeholder {
      color: $background-color;
      opacity: 1;
    }

    :-ms-input-placeholder {
      color: $background-color;
      opacity: 1;
    }

    ::placeholder {
      color: $background-color;
      opacity: 1;
    }

    .field {
      border: none;
    }
  }

  .mailing-list,
  .apply-to-demo {
    flex: 1;
    padding: $little-space;

    @include above($small-screen) {
      padding: $med-space $xl-space;
    }
  }

  .mailing-list {
    margin-bottom: $large-space;

    h2 {
      font-size: $xl-font-size;
      color: $main-color-dark;
    }
  }

  h3 {
    font-size: $normal-font-size;
    color: $text;
  }

  .apply-to-demo {
    background-color: $background-color;
    border-radius: $base-border-radius;
    position: relative;

    &::before {
      background-color: $main-color;
      border-radius: $base-border-radius;
      content: '';
      height: 100%;
      position: absolute;
      right: -5px;
      top: 0;
      transform: rotate(2deg);
      width: 101%;
      z-index: -1;
    }

    h2 {
      font-size: $large-font-size;
      color: $text;
    }
  }


  .event {
    @include flex-column-then-row;

    img {
      @include above($small-screen) {
        padding: 0 0 $large-space $large-space;
      }
    }

    .links {
      @include flex-column-then-row;

      a {
        margin-bottom: $med-space;
        text-align: center;
        width: 100%;
      }
    }
  }

  .info {
    flex: 1;
  }

  .image {
    flex: 1;
  }

  .more {
    color: $main-color;
    font-family: $headers;
    padding-left: $med-space;
    text-transform: uppercase;
  }

  .featured {
    background: $grey;
    color: $background-color;
    margin: 0;

    a {
      color: $background-color;

      &:hover {
        background: darken($main-color, 5%);
        transition: all $long-duration $base-timing;
      }
    }
  }
}
