[data-controller=pages][data-action=home] {
  @mixin big-h2 {
    h2 {
      font-weight: bold;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }

  @mixin big-h3 {
    h3 {
      font-weight: bold;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }

  main {
    padding: 0;
  }

  p {
  line-height: $base-line-height;
  padding-bottom: 60px;
  }

  /* social icons */
  @include above($medium-screen) {

    #social_side_links 
    {
    position: fixed;
    top: 100px;
    right: 20px;
    padding: 60;
    list-style: none;
    z-index: 99;
    }

  #social_side_links li a {display: block;}

  #social_side_links li a img 
    {
    display: block;
    border-radius: 0;
    background-color: $grey;
    max-width:45px;
    padding: 10px;
    -webkit-transition:  background .2s ease-in-out;
    -moz-transition:  background .2s ease-in-out;
    -o-transition:  background .2s ease-in-out;
    transition:  background .2s ease-in-out;
    }

  #social_side_links li a:hover img 
    {
    background: rgba(0, 0, 0, .9);
    }
  }

  @include on($medium-screen)
 {
    #social_side_links 
    {
      display: none;
    }
  }

  /* end social icons */

  section {

    /*padding: $xxl-space $med-space $med-space;*/
    padding-top: $med-space;
    padding-left: $med-space;
    padding-right: xxl-space;

    padding-bottom: $xxxl-space;
    text-align: left;
    }

    .photos {

      @include squairy-light-background;

    }

  header {
    position: fixed;
    top: 0;
    transition: all 0.6s ease;
    z-index: 2;

    &.transparent {
      a {
        color: $grey;
      }

      .featured {
        color: $background-color;
      }

    &.shadow {
         box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
      }
    }

    &.sticky {
      background-color: $background-color;
      font-size: 80%;
    }
  }

  @each $flash-type, $flash-color in $flashes {
    .flash-#{$flash-type} {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      margin: 0 auto;
      width: 95%;
    }
  }

  .headers {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: $med-space;
    text-align: left;

    @include above($small-screen) {
      padding: $large-space;
    }
  }

  .empty {
    flex: 2;
  }

  #mtlnewtech {
    @include flex-column-then-row;

    background-image: image-url('homepage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 100vh;
    text-align: center;

    h1 {
      color: $background-color;
      font-size: $large-font-size;
      padding-right: $xxl-space;
      font-weight: bold;
      letter-spacing: 2px;
      text-shadow: 2px 2px 4px #000000;
    

/*      @include on($small-screen) {
        text-shadow: 2px 2px 4px #000000;
      }*/

      @include above($small-screen) {
        font-size: $xxl-font-size;
        line-height: 4rem;
        padding-top: $xxxl-space;
      }
    }

    h2 {
      font-size: $base-line-height;
      padding-right: $xxl-space;

      @include above($medium-screen) {
      /*  font-size: $large-font-size;*/
      }
    }
  }

  #events {
    @include above($small-screen) {
   /* @include flex-column-center;*/

    background: transparent;

      h2 {
        font-size: $xl-font-size;
      }
    }
  }

  #what_we_do {
    @include squairy-light-background;

    @include above($medium-screen) {
      padding-right: $xl-space;
    }
  }

  #sign_up {
    @include flex-column-then-row;

    background-color: $secondary-color;
    background-image: image-url('background-signup.jpg');

    padding: $xxl-space $large-space $xl-space $large-space;
    position: relative;
    z-index: 1;

    input[type='submit'] {
      @include button($color: $white);
      width: auto;
    }

    input[type="email"] {
      background: transparent;
      border-bottom: 2px solid $text;
      color: $background-color;
      padding: $little-space;
      width: 100%;
    }

    ::-webkit-input-placeholder {
      color: $background-color;
      opacity: 1;
    }

    ::-moz-placeholder {
      color: $background-color;
      opacity: 1;
    }

    :-ms-input-placeholder {
      color: $background-color;
      opacity: 1;
    }

    ::placeholder {
      color: $background-color;
      opacity: 1;
    }

    .field {
      border: none;
    }
  }

  .mailing-list,
  .apply-to-demo {
    flex: 1;
    padding: $little-space;

    @include above($small-screen) {
      padding: $med-space $xl-space;
    }
  }

  .mailing-list {
    margin-bottom: $large-space;

    h2 {
      color: $text;
      font-size: $large-font-size;
      font-weight: bold;
    }
  }

  h3 {
    color: $text;
    font-size: $normal-font-size;
  }


  .apply-to-demo {
    background-color: $background-color;
    border-radius: $base-border-radius;
    position: relative;

    &::before {
      background-color: $main-color;
      border-radius: $base-border-radius;
      content: '';
      height: 100%;
      position: absolute;
      right: -5px;
      top: 0;
      transform: rotate(2deg);
      width: 101%;
      z-index: -1;
    }

    h2 {
      color: $text;
      font-size: $base-line-height;
    }

    @include above($small-screen) {
      h2 {
        font-size: $large-font-size;
      }
    }
  }


  .event {
    @include flex-column-then-row;

    img {
      @include above($small-screen) {
        padding: 0 0 $large-space $large-space;
      }
    }

    .links {
      @include flex-column-then-row;

      a {
        margin-bottom: $med-space;
        text-align: center;
        width: 100%;
      }
    }
  }

  .info {
    flex: 1;
  }

  .image {
    flex: 1;
  }

  .more {
    color: $main-color;
    font-family: $headers;
    padding-left: $med-space;
    text-transform: uppercase;
  }

  .featured {
    background: $grey;
    margin: 0;

    a {
      color: $background-color;

      &:hover {
        background: darken($main-color, 5%);
        transition: all $long-duration $base-timing;
      }
    }
  }
}
