[data-controller=pages][data-action=home] {
  @mixin big-h2 {
    h2 {
      font-weight: bold;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }

  @mixin big-h3 {
    h3 {
      font-weight: bold;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }

  .social-side-links {
    display: none
  }

  @include above($medium-screen) {
    .social-side-links {
      background: $grey;
      border-radius: $round-border;
      display: inline;
      font-size: $med-font-size;
      line-height: $larger-space;
      padding: 12px;
      position: fixed;
      right: 30px;
      text-align: center;
      top: 100px;
      z-index: 99;

      ul {
        @include size-reset;
      }

      li {
        list-style: none;
      }

      a {
        color: $light-text;
      }
    }
  }

  main {
    padding: 0;
  }

  p {
    line-height: $base-line-height;
  }

  section {
    padding-bottom: $xxxl-space;
    padding-left: $med-space;
    padding-right: $med-space;
    padding-top: $med-space;
    text-align: left;
    }

    .photos {
      @include squairy-light-background;
    }

  .photos {
    @include squairy-light-background;
  }

  header {
    position: fixed;
    top: 0;
    transition: all 0.6s ease;
    z-index: 2;

    &.transparent {
      a {
        color: $grey;
      }

      &.shadow {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
      }

      .featured {
        color: $background-color;
      }
    }

    &.sticky {
      background-color: $background-color;
      font-size: 80%;
    }
  }

  @each $flash-type, $flash-color in $flashes {
    .flash-#{$flash-type} {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      margin: 0 auto;
      width: 95%;
    }
  }

  .headers {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: $med-space;
    text-align: left;

    @include above($small-screen) {
      padding: $large-space;
    }
  }

  .empty {
    flex: 2;
  }

  #mtlnewtech {
    @include flex-column-then-row;

    background-attachment: scroll;
    background-image: image-url('homepage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;

    h1 {
      color: $background-color;
      font-size: $large-font-size;
      font-weight: bold;
      letter-spacing: 2px;
      padding-right: $xxl-space;
      text-shadow: 2px 2px 4px $grey;

      @include above($small-screen) {
        font-size: $xxl-font-size;
        line-height: 4rem;
        padding-top: $xxxl-space;
      }
    }

    h2 {
      font-size: $base-line-height;
      padding-right: $xxl-space;
    }
  }

  #events {
    @include above($small-screen) {
      background: transparent;

      h2 {
        font-size: $xl-font-size;
      }
    }

    h3 {
      font-size: $med-font-size;
    }
  }

  .event {
    margin-bottom: $large-space;

    @include flex-column-then-row;

    @include above($small-screen) {
      &:nth-child(odd) {
        .info {
          order: 2;
        }
      }

      a {
        &:first-child {
          margin-right: $little-space;
        }

        &:last-child {
          margin-left: $little-space;
        }
      }
    }

    &:nth-child(odd) {
      background: $lightest-grey;
    }

    .image {
      flex: 1;
      padding: $large-space;
    }

    .info {
      flex: 1;
      padding: $large-space;
    }

    .links {
      @include flex-column-then-row;

      a {
        text-align: center;
        width: 100%;
      }
    }
  }

  #what_we_do {
    @include squairy-light-background;

    @include above($medium-screen) {
      padding-right: $xl-space;
    }

    a {
      margin-top: $xl-space;
    }
  }

  #sign_up {
    @include flex-column-then-row;

    background-color: $secondary-color;
    background-image: image-url('background-signup.jpg');
    padding: $xxl-space $large-space $xl-space $large-space;
    position: relative;
    z-index: 1;

    input[type='submit'] {
      @include button($color: $white);
      width: auto;
    }

    input[type="email"] {
      background: transparent;
      border-bottom: 2px solid $text;
      color: $background-color;
      padding: $little-space;
      width: 100%;
    }

    ::-webkit-input-placeholder {
      color: $background-color;
      opacity: 1;
    }

    ::-moz-placeholder {
      color: $background-color;
      opacity: 1;
    }

    :-ms-input-placeholder {
      color: $background-color;
      opacity: 1;
    }

    ::placeholder {
      color: $background-color;
      opacity: 1;
    }

    .field {
      border: 0;
    }
  }

  .mailing-list,
  .apply-to-demo {
    flex: 1;
    padding: $med-space;

    @include above($small-screen) {
      padding: $large-space;
    }
  }

  .mailing-list {
    margin-bottom: $large-space;

    h2 {
      color: $text;
      font-size: $large-font-size;
      font-weight: bold;
    }
  }

  h3 {
    color: $text;
    font-size: $normal-font-size;
  }


  .apply-to-demo {
    background-color: $background-color;
    border-radius: $base-border-radius;
    position: relative;

    &::before {
      background-color: $main-color;
      border-radius: $base-border-radius;
      content: '';
      height: 100%;
      position: absolute;
      right: -5px;
      top: 0;
      transform: rotate(2deg);
      width: 101%;
      z-index: -1;
    }

    h2 {
      color: $text;
      font-size: $base-line-height;
    }

    @include above($small-screen) {
      h2 {
        font-size: $large-font-size;
      }
    }
  }

  .more {
    color: $main-color;
    font-family: $headers;
    padding-left: $med-space;
    text-transform: uppercase;
  }

  .featured {
    background: $grey;
    border: 1px solid $grey;
    margin: 0;

    a {
      color: $background-color;

      &:hover {
        background: darken($main-color, 5%);
        transition: all $long-duration $base-timing;
      }
    }
  }

  #partnerships {
    h2,
    h3 {
      padding: 0 $xl-space;
    }

    h3 {
      font-size: $large-font-size;
    }
  }

  .partnership-logos {
    @include flex-row-center;
    flex-flow: wrap;

    img {
      display: inline-block;
      max-height: 18vh;
      padding: $large-space;

      @include above($small-screen) {
        max-height: 25vh;
      }
    }
  }
}
