<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.hidden_field "#{field.attribute}_cache".to_sym %>
  <%= f.file_field field.attribute, accept: 'image/jpeg, image/gif, image/jpg, image/png' %>
</div>
