<p id="notice"><%= notice %></p>

<h1>Team Members</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Bio</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_members.each do |team_member| %>
      <tr>
        <td><%= team_member.user %></td>
        <td><%= team_member.bio %></td>
        <td><%= team_member.position %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
