<h1>Events</h1>

<% @events.each do |event| %>
  <article class='event'>
    <p><%= event.description %></p>
    <p><%= l(event.dtstart, formt: :full) %></p>
    <p><%= event.location %></p>
  </article>
<% end %>
