<div class="content">
  <h1>Events</h1>

  <% @events.each do |event| %>
    <article class='event'>
      <p><b><%= event.summary %></b></p>
      <p><%= l(event.dtstart, format: :full) %></p>
      <p><%= event.location %></p>
    </article>
  <% end %>
</div>
