<h1><%= t('.header') %></h1>
<p><%= t('.about_us') %></p>

<section id="photos">
  <img src="http://res.cloudinary.com/mtl-new-tech/image/upload/v1480905560/03_mtlnewtech_april_2015_-_10_16461598084_l_gamfyy.jpg" alt="description goes here"/>
  <img src="http://res.cloudinary.com/mtl-new-tech/image/upload/v1480905561/14423802069_6db8a8cac1_o_dmqdqx.jpg" alt="description goes here"/>
  <img src="http://res.cloudinary.com/mtl-new-tech/image/upload/v1480905560/20150407_223422000_iOS_le7lr6.jpg" alt="description goes here"/>
  <img src="http://res.cloudinary.com/mtl-new-tech/image/upload/v1480905560/17_mtlnewtech_april_2015_-_51_17083338631_l_hj00vj.jpg" alt="description goes here"/>
  <img src="http://res.cloudinary.com/mtl-new-tech/image/upload/v1480905560/11_mtlnewtech_april_2015_-_26_17082560622_l_loc65x.jpg" alt="description goes here"/>
  <img src="http://res.cloudinary.com/mtl-new-tech/image/upload/v1480905560/10_mtlnewtech_april_2015_-_25_16463901413_l_wj4oyf.jpg" alt="description goes here"/>
  <img src="http://res.cloudinary.com/mtl-new-tech/image/upload/v1480905560/06_mtlnewtech_april_2015_-_40_17083335461_l_ru64p8.jpg" alt="description goes here"/>
</section>
