<form action="//mtlnewtech.us8.list-manage.com/subscribe/post?u=f05b638e5c0e6ede7899725d7&amp;id=c6228f9f7d" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
  <div class="field">
    <input type="email" value="" name="EMAIL" placeholder="<%= t('.email') %>" required>
  </div>
  <div class="actions">
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f05b638e5c0e6ede7899725d7_c6228f9f7d" tabindex="-1" value=""></div>
    <input type="submit" value="<%= t('.button') %>" name="subscribe">
  </div>
</form>
