[data-controller=pages][data-action=about] {
  h3,
  h4 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h5 {
    margin: 0;
    color: $main-color;
  }

  .profile {
    @include flex-column-then-row;

    background-color: $darker-background;
    border-radius: $base-border-radius;
    margin: $large-space 0;
    padding: $large-space;

    &:nth-child(odd) {
      .info {
        padding-left: $large-space;
      }
    }

    &:nth-child(even) {
      img {
        order: 2;
      }

      .info {
        padding-right: $large-space;
      }
    }

    img {
      border-radius: $base-border-radius;
    }

    .info {
      text-align: justify;
      width: 100%;
    }
  }
}
