footer {
  background-color: $grey;
  color: $darker-background;
  font-family: $headers;
  font-size: $subtext-font-size;
  line-height: $base-line-height;
  margin-top: $xl-space;
  padding: $little-space;

  @include above($small-screen) {
    padding: $large-space;
  }

  ul {
    @include size-reset;
  }

  li {
    list-style: none;
  }

  a {
    color: $darker-background;
  }

  nav {
    padding-top: $large-space;

    @include above($small-screen) {
      text-align: right;
      padding-top: 0;
    }

    li {

      a {
        color: $lighter-grey;
        text-transform: uppercase;
      }
    }
  }

  .contact {
    @include on($small-screen) {
      font-size: $small-font-size;
    }
  }

  .links, .bottom {
    width: 100%;
    @include above($small-screen) {
      @include flex-center-between;
    }
  }

  .bottom {
    padding-top: $large-space;
    font-size: $small-font-size;
  }
}
