[data-controller=pages][data-action=home] {
  section {
    padding: $xl-space;
  }
}

#mtlnewtech {
  @include flex-center;
  background: linear-gradient(rgba($grey, 0.65), rgba($grey, 0.85) ), image-url('homepage.png');
  background-size: cover;
  min-height: 100vh;
  color: $light-text;
  text-align: center;
}
