<div class='content'>
  <% @events.each do |event| %>
    <article class='event'>
      <p><b><%= event.title%></b></p>
      <p><%= l(event.start_at, format: :time) %></p>
      <p><%= event.location %></p>
      <p class='description'><%= event.description %></p>
    </article>
  <% end %>
</div>
