.sidebar {
  flex: 0 0 auto;
  max-width: 12em;
  overflow-y: auto;
  padding: 0 $base-spacing $base-spacing;
}

.sidebar__link {
  color: $base-font-color;
  display: block;
  padding-top: $base-spacing;
  transition: color 0.05s linear;

  &:hover {
    color: $blue;
  }
}

.sidebar__link--active {
  color: $blue;
  font-weight: $bold-font-weight;
}

.new-tab {
  border-bottom: $base-border;
  font-size: $subtext-font-size;
  padding: $med-space 0;

  &::before {
    padding-right: $little-space;
  }
}

.logout {
  border-top: $base-border;
  margin: $med-space 0;
  padding: $med-space 0;
}
