.bars::before {
  content: '\f0c9';
  font-family: 'FontAwesome';
  font-size: 2rem;
  font-style: normal;
}

.heart::before {
  content: '\f004';
  font-family: 'FontAwesome';
  font-style: normal;
}

.github::before {
  content: '\f09b';
  font-family: 'FontAwesome';
  font-style: normal;
}

.map::before {
  content: '\f041';
  font-family: 'FontAwesome';
  font-style: normal;;
  padding-right: $little-space;
}

.phone::before {
  content: '\f095';
  font-family: 'FontAwesome';
  font-style: normal;
  padding-right: $little-space;
}

.mail::before {
  content: '\f0e0';
  font-family: 'FontAwesome';
  font-style: normal;
  padding-right: $little-space;
}

.facebook::before {
  content: '\f09a';
  font-family: 'FontAwesome';
  font-style: normal;
}

.twitter::before {
  content: '\f099';
  font-family: 'FontAwesome';
  font-style: normal;
}

.instagram::before {
  content: '\f16d';
  font-family: 'FontAwesome';
  font-style: normal;
}

.new-tab::before {
  content: '\f08e';
  font-family: 'FontAwesome';
  font-style: normal;
}

.close::before {
  content: '\f00d';
  cursor: pointer;
  font-family: 'FontAwesome';
  font-style: normal;
}

.localization::before {
  content: '\f0ac';
  cursor: pointer;
  font-family: 'FontAwesome';
  font-style: normal;
  padding-right: $little-space;
}

.calendar::before {
  content: '\f073';
  cursor: pointer;
  font-family: 'FontAwesome';
  font-style: normal;
  padding-right: $little-space;
}

.calendar-add::before {
  content: '\f271';
  cursor: pointer;
  font-family: 'FontAwesome';
  font-style: normal;
  padding-right: $little-space;
}

.previous::before {
  content: '\f053';
  cursor: pointer;
  font-family: 'FontAwesome';
  font-style: normal;
  padding-right: $little-space;
}

.next::after {
  content: '\f054';
  cursor: pointer;
  font-family: 'FontAwesome';
  font-style: normal;
  padding-left: $little-space;
}

.clock::before {
  content: '\f017';
  font-family: 'FontAwesome';
  font-style: normal;
  padding-right: $little-space;
}

.fixed-width-icon {
  &::before {
    display: inline-block;
    padding-right: $little-space;
    text-align: center;
    width: 1.3rem;
  }
}
