// FUNCTIONS
@function set-text-color($background) {
  @if (lightness($background) > 55) {
    @return $light-grey;
  } @else {
    @return $background-color;
  }
}

// MEDIA QUERIES
@mixin above($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin on($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

// RESETS
@mixin size-reset {
  margin: 0;
  padding: 0;
}

// FONTS
@mixin ellipsize {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// FLEX
@mixin flex-center-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@mixin flex-column-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-row-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-column-then-row {
  @include flex-column-center;
  @include above($small-screen) {
    flex-direction: row;
  }
}

@mixin flex-row-then-column {
  @include flex-row-center;
  @include above($small-screen) {
    flex-direction: column;
  }
}

@mixin squairy-light-background {
  background-image: image-url('squairy_light.png');
  background-repeat: repeat;
}

// COMPONENTS
@mixin card {
  background-color: $darker-background;
  border-radius: $base-border-radius;
  margin-bottom: $large-space;
  padding: $med-space;

  @include above($small-screen) {
    padding: $large-space;
  }

  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;
  }

  p {
    text-align: justify;
  }
}

@mixin alternate_info_and_photo_position {
  @include flex-column-then-row;

  .info {
    width: 100%;
  }

  img {
    margin-bottom: $med-space;
  }

  @include above($small-screen) {
    img {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      .info {
        padding-left: $large-space;
      }
    }

    &:nth-child(even) {
      img {
        order: 2;
      }

      .info {
        padding-right: $large-space;
      }
    }
  }
}
