// COLORS
$grey: #333;
$light-grey: lighten($grey, 20%);
$lighter-grey: lighten($grey, 40%);
$lightest-grey: lighten($grey, 70%);
$very-light-grey: lighten($grey, 76%);
$white: #fefefe;
$orange: #ef4723;
$light-orange: #fba960;

$links: $light-grey;
$text: $grey;
$light-text: $white;
$background-color: $white;
$darker-background: $lightest-grey;
$main-color: $orange;
$main-color-dark: darken($main-color, 7%);
$secondary-color: $light-orange;
$buttons: $main-color;
$error: $main-color;

$flashes: (
  'alert': #ffe8c5,
  'error': #fbe3e4,
  'notice': #84f0e3,
  'success': #e6efc2,
);

$base-border: 1px solid $very-light-grey;
$main-color-border: 1px solid $main-color;

// FONTS
$main-font: 'Lato', Helvetica, 'Lucida Grande', sans-serif;
$headers: 'Montserrat', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
$base-font-size: 16px;
$small-font-size: 0.7rem;
$subtext-font-size: 0.85rem;
$normal-font-size: 1rem;
$med-font-size: 1.5rem;
$large-font-size: 2rem;
$xl-font-size: 3.25rem;
$base-line-height: 1.5rem;

// SIZING
$little-space: 0.5rem;
$med-space: 1rem;
$large-space: 2rem;
$xl-space: 4rem;
$xxl-space: 6rem;
$xxxl-space: 8rem;
$base-border-radius: 2px;
$round-border: 5rem;

// MEDIA QUERIES
$small-screen: 42rem;
$medium-screen: 68rem;

// TRANSITIONS
$base-duration: 75ms;
$long-duration: 3 * $base-duration;
$base-timing: ease-in-out;
