@import 'variables';
@import 'mixins';
@import 'icons';
@import 'layout/*';

* {
  box-sizing: border-box;
  font-family: $main;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $links;
}
