@charset "utf-8";

@import 'variables';

@import 'bourbon';
@import 'neat';
@import 'refills/*';

@import 'mixins';
@import 'icons';
@import 'buttons';
@import 'forms';
@import 'layout/*';

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $background-color;
  color: $text;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  font-size: $base-font-size;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: $little-space;
}

a {
  color: $links;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers;
  font-weight: normal;
  padding-bottom: $med-space;
}

h1 {
  font-size: 2rem;

  @include above($small-screen) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.7rem;

  @include above($small-screen) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.4rem;

  @include above($small-screen) {
    font-size: 2rem;
  }
}

p {
  line-height: $base-line-height;
}

img {
  border-radius: $base-border-radius;
  max-width: 100%;
}

.content {
  margin: 0 auto;
  max-width: $medium-screen;
}
