@charset "utf-8";

@import 'variables';
@import 'mixins';
@import 'icons';
@import 'buttons';
@import 'forms';
@import 'layout/*';

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $background-color;
  color: $text;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  font-size: $base-font-size;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: $little-space;
}

a {
  color: $links;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers;
  font-weight: normal;
  padding-bottom: $med-space;
}

p {
  line-height: $base-line-height;
}
