form {
  .field-error {
    font-size: $small-font-size;
    line-height: 1rem;
    margin-top: $little-space;
    text-align: left;
  }

  .error {
    border-bottom: 1px solid $error;
  }

  .field {
    border-bottom: 1px solid $lighter-grey;
    margin: $med-space 0;
    display: flex;
    align-items: center;
  }

  .checkbox {
    font-size: $subtext-font-size;
    border: none;
  }

  input, textarea {
    border: none;
    font-family: $main-font;
    font-size: inherit;
    line-height: $base-line-height;
    padding: 0 $little-space;
    width: 100%;

    &:focus {
      outline: none
    }
  }

  input[type=checkbox] {
    margin-right: $little-space;
    border: none;
    width: auto;

    & + label {
      border: none;
    }
  }

  input[type=submit] {
    display: block;
  }
}

.devise-links {
  font-size: $subtext-font-size;
  padding: $med-space 0;
  text-align: center;
  width: 100%;

  a {
    display: block;
    padding-bottom: $little-space;

    &:first-child {
      font-weight: bold;
    }
  }
}

#error_explanation {
  color: $error;
  padding: $little-space 0;

  h2 {
    font-size: $normal-font-size;
  }

  ul {
    margin-left: $med-space;
  }
}

.sign-up,
.log-in,
.forgot-password {
  @include above($small-screen) {
    max-width: 50%;
    margin: 0 auto;
  }
}
