// COLORS
$grey: #333;
$light-grey: lighten($grey, 20%);
$lighter-grey: lighten($grey, 40%);
$lightest-grey: lighten($grey, 70%);
$white: #FEFEFE;
$orange: #EF4723;

$links: $light-grey;
$text: $grey;
$light-text: $white;
$background-color: $white;
$darker-background: $lightest-grey;
$main-color: $orange;
$buttons: $main-color;
$error: $main-color;

// FONTS
$main-font: 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
$headers: 'Montserrat', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
$base-font-size: 16px;
$small-font-size: 0.7rem;
$subtext-font-size: 0.85rem;
$normal-font-size: 1rem;
$large-font-size: 2rem;
$xl-font-size: 3rem;
$base-line-height: 1.5rem;

// SIZING
$little-space: 0.5rem;
$med-space: 1rem;
$large-space: 2rem;
$xl-space: 4rem;
$base-border-radius: 2px;

// MEDIA QUERIES
$small-screen: 42rem;
$medium-screen: 68rem;

// TRANSITIONS
$base-duration: 75ms;
$long-duration: 3 * $base-duration;
$base-timing: ease-in-out;
