// COLORS
$links: orange;
$grey: #333;

// FONTS
$main: 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;

// SIZING
$little-space: 0.5rem;
$med-space: 1rem;
$large-space: 2rem;

// MEDIA QUERIES
$small-screen: 42rem;
$medium-screen: 68rem;

