<ul class='social'>
  <li>
    <a href='https://www.facebook.com/mtlnewtech/' target='_blank' class='facebook'></a>
  </li>
  <li>
    <a href='https://twitter.com/mtlnewtech/' target='_blank' class='twitter'></a>
  </li>
  <li>
    <a href='https://www.instagram.com/mtlnewtech/' target='_blank' class='instagram'></a>
  </li>
  <li>
    <a href='https://medium.com/@mtlnewtech/' target='_blank' class='medium'></a>
  </li>
</ul>

